.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sections{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

